@import "tailwindcss";


@theme {
  --color-primary: #6366F1;
  --color-primary-dark: #4F46E5;
  --color-accent: #A855F7;
  --color-accent-soft: #D8B4FE;
  --color-secondary: #818CF8;
  --color-background: #0F172A;
  --color-card-bg: #1E293B;
  --color-text-light: #F8FAFC;
  --color-text-muted: #94A3B8;
  --color-cta: #22D3EE;
  --color-cta-hover: #06B6D4;
  --color-black: #000000;
  --color-black-100: #000319;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text-light);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
.text-shine {
  background-size: 400%;
  animation: shine 3s linear infinite;
  /* display: inline-block; */
}
  /* .project-card {
    @apply relative overflow-hidden rounded-2xl transition-all duration-300 hover:shadow-xl;
  } */